
Package: soundqube-desktop
Version: VERSION
Architecture: ARCH
Maintainer: Lars-Erik Helander <lehswe@gmail.com>
Description: Desktop via VNC
Depends: xfce4, xfce4-goodies, tightvncserver, dbus-x11, xfonts-base, tightvncpasswd 
