
Package: soundqube
Version: VERSION
Architecture: ARCH
Maintainer: Lars-Erik Helander <lehswe@gmail.com>
Description: Meta package for installation of all soundqube packages
Depends: soundqube-jack, soundqube-fluidsynth, fluidweb, soundqube-unison, soundqube-autoconnect, soundqube-desktop, qjackctl, soundqube-setbfree, netcat-traditional
