[Unit]
Description=Aeolus Pipe Organ
After=media-soundqube.mount
After=soundqube-connect.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
Environment=DISPLAY=:56
ExecStart=/usr/bin/pw-jack aeolus
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

