[Unit]
Description=Fluidsynth 
After=media-soundqube.mount
After=soundqube-connect.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
ExecStart=/usr/bin/pw-jack -p 128 fluidsynth -p "fluid0" --server --no-shell -r48000  -a jack  -m alsa_seq -o synth.default-soundfont="" -f /media/soundqube/init
Restart=always
RestartSec=10

[Install]
WantedBy=default.target


