[Unit]
Description=Web UI server
After=network.target

[Service]
ExecStart=/opt/bin/soundqube-webui
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

