[Unit]
Description=Mount /dev/disk/by-label/SOUNDQUBE at /media/soundqube

[Mount]
What=/dev/disk/by-label/SOUNDQUBE
Where=/media/soundqube
Type=auto
Options=noauto,nofail
