[Unit]
Description=Desktop

[Service]
Environment=USER=root
Environment=RESOLUTION=1920x1080
ExecStart=/opt/bin/soundqube-desktop.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


