[Unit]
Description=Desktop

[Service]
User=lehswe
Group=lehswe
Environment=DISPLAY=:56
ExecStart=/usr/bin/soundqube-desktop.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


